/* securityDashboard.css */
.metric-card {
    border: 1px solid #dddbda;
    border-radius: .25rem;
    background-color: #f3f2f2;
}

.metric-value {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.metric-label {
    font-size: 0.875rem;
    color: #514f4d;
    text-transform: uppercase;
}

/* Specific styling for the System Health text */
.slds-theme_success {
    color: #2e844a;
}

.slds-theme_error {
    color: #c23934;
}

/* Styling for the risk level column in the data table */
.slds-text-color_error {
    color: #c23934;
}
.slds-text-color_warning {
    color: #ffb75d;
}
.slds-text-font_bold {
    font-weight: 700;
}
